<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#" aria-current="page">Home <span
                class="visually-hidden">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/new-article">Agregar Articulo</a>
        <a class="nav-item nav-link" routerLink="/list-article">Listado de Articulos</a>
        <a class="nav-item nav-link" routerLink="/list-users">Listado de Usuarios</a>
        <a class="nav-item nav-link" routerLink="/api">API</a>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>